body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
* {
  outline: none;
}
.flex-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex-menu li {
  display: flex;
  justify-content: center;
  max-width: calc(15vw);
  min-width: calc(10vw);
}
.flex-menu li .el-submenu__title {
  width: 100%;
  text-align: center;
}
.el-menu--popup {
  width: calc(20vw);
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}
.button-container {
  height: 40px;
  margin-bottom: 20px;
}
.button-container .el-icon-arrow-down {
  font-size: 25px;
}
.button-container:hover {
  cursor: pointer;
}
.button-container:hover .el-icon-arrow-down {
  transform: translateY(5px);
}
.backToTop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  z-index: 999;
}
.radio-list {
  padding: 15px 10px 10px 10px;
}
.my-card {
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 1px #ccc;
  background-color: #fff;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
* {
  outline: none;
}
.flex-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.flex-menu li {
  display: flex;
  justify-content: center;
  max-width: calc(15vw);
  min-width: calc(10vw);
}
.flex-menu li .el-submenu__title {
  width: 100%;
  text-align: center;
}
.el-menu--popup {
  width: calc(20vw);
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}
.button-container {
  height: 40px;
  margin-bottom: 20px;
}
.button-container .el-icon-arrow-down {
  font-size: 25px;
}
.button-container:hover {
  cursor: pointer;
}
.button-container:hover .el-icon-arrow-down {
  transform: translateY(5px);
}
.backToTop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  z-index: 999;
}
.radio-list {
  padding: 15px 10px 10px 10px;
}
