body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
* {
  outline: none;
  font-family: 微软雅黑;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}
.radio-list {
  padding: 15px 10px 10px 10px;
}
.my-card {
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 1px #ccc;
  background-color: #fff;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
* {
  outline: none;
  font-family: 微软雅黑;
}
.v-enter,
.v-leave-to {
  opacity: 0;
}
.v-enter-active,
.v-leave-active {
  transition: all 0.5s ease;
}
.radio-list {
  padding: 15px 10px 10px 10px;
}
