@import "my-card";
body {
  background-color: rgba(245,245,245,1);
  margin: 0;
  padding: 0;
}
*{
  outline: none;
}
.flex-menu(){
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  li{
    display: flex;
    justify-content: center;
    max-width: 150px;
    min-width: 100px;
    .el-submenu__title{
      width: 100%;
      text-align: center;
    }
  }
}
.el-menu--popup{
  width: calc(20vw);
}
.flex-justify-center(){
  display: flex;
  justify-content: center;
}
.flex-align-center(){
  display: flex;
  align-items: center;
}
.flex-all-center(){
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-enter,
.v-leave-to{
  opacity: 0;
}
.v-enter-active,
.v-leave-active{
  transition: all 0.5s ease;
}
.button-container() {
  height: 40px;
  margin-bottom: 20px;
  .el-icon-arrow-down {
    font-size: 25px;
  }
  &:hover {
    cursor: pointer;
    .el-icon-arrow-down{
      transform: translateY(5px)
    }
  }
}
.backToTop() {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  z-index: 999;
}
.radio-list {
  padding: 15px 10px 10px 10px;
}