body {
  background-color: rgba(245,245,245,1);
  margin: 0;
  padding: 0;
}
.flex-menu{
  display: flex;
  .el-menu-item,.el-submenu{
    display: flex;
    justify-content: center;
    flex: 1;
  }
}