@import "my-card";
body {
  background-color: rgba(245,245,245,1);
  margin: 0;
  padding: 0;
}
.flex-menu{
  display: flex;
  .el-menu-item,.el-submenu{
    display: flex;
    justify-content: center;
    flex: 1;
  }
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-enter,
.v-leave-to{
  opacity: 0;
}
.v-enter-active,
.v-leave-active{
  transition: all 0.5s ease;
}
.button-container {
  margin-top: 10px;
  height: 40px;
  .el-icon-arrow-down {
    font-size: 25px;
  }
  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
.backToTop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  z-index: 999;
}
.radio-list {
  padding: 15px 10px 10px 10px;
}